@"
OMDB_KEYS=your_key1,your_key2
RADARR_API_KEY=your_radarr_api_key
RADARR_URL=http://localhost:7878/api/v3
ROOT_FOLDER=F:\Movies
OLLAMA_MODEL=llama3.1:8b
"@ | Out-File -FilePath .env.example -Encoding utf8